@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



/*reset de css a html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Raleway;
    color: white;
}

header {
    text-align: center;
    padding-bottom: 20px;
    background-color: black;
}

header img {
    width: 100%;
}

.descripcion {
    display: flex;
    padding: black;
}

.description img {
    width: 600px;
}
.description p {
    padding-top: 120px;
}

